* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/8f12b4f0-a894-4d5b-9c36-5ba391c63fbe/44355e66-dbf8-4dd8-ba6b-8e9e32ec6abd/IN-en-20230320-popsignuptwoweeks-perspective_alpha_website_large.jpg);
}

header {
  height: 20vh;
}
header nav {
  display: flex;
  justify-content: space-between;
  height: 7em;
}
#img {
  padding: 30px;
  width: 40%;
  text-align: -webkit-center;
}
#button {
  padding: 30px;
  width: 60%;
  text-align: right;
}
#button button {
  font-weight: bold;
  font-family: "circular";
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px 13px;
  color: white;
  background-color: red;
  margin-left: 11px;
}
#shadow {
  background-color: rgb(0, 0, 0, 0.7);
  height: 100vh;
}

#ui {
  color: white;
  text-align: center;
  position: relative;
  top: 5.9em;
  font-size: 1.7em;
  line-height: 2.1em;
  width: 100vw;
}

.first-para {
  font-size: 27px;
}

.last-para {
  font-size: 22px;
}
